<p>
  <b>Sequence number:</b>
  <%=h @case_discussions.sequence_number %>
</p>

<p>
  <b>Stage sequence number:</b>
  <%=h @case_discussions.stage_sequence_number %>
</p>

<p>
  <b>Meeting date:</b>
  <%=h @case_discussions.meeting_date %>
</p>

<p>
  <b>External:</b>
  <%=h @case_discussions.external_id %>
</p>

<p>
  <b>External url:</b>
  <%=h @case_discussions.external_url %>
</p>

<p>
  <b>To time:</b>
  <%=h @case_discussions.to_time %>
</p>

<p>
  <b>From time:</b>
  <%=h @case_discussions.from_time %>
</p>

<p>
  <b>Transcript url:</b>
  <%=h @case_discussions.transcript_url %>
</p>

<p>
  <b>Listen url:</b>
  <%=h @case_discussions.listen_url %>
</p>

<p>
  <b>Meeting info:</b>
  <%=h @case_discussions.meeting_info %>
</p>

<p>
  <b>Meeting url:</b>
  <%=h @case_discussions.meeting_url %>
</p>


<%= link_to 'Edit', edit_case_discussions_path(@case_discussions) %> |
<%= link_to 'Back', case_discussionss_path %>
