<%= javascript_include_tag 'jquery-1.3.1.min' %>
<%= javascript_include_tag 'flowplayer-3.0.3.min' %>
<%= javascript_include_tag 'flowplayer.playlist-3.0.2.min' %>
<%= javascript_include_tag 'jquery.mousewheel' %>
<%= javascript_include_tag 'jquery.scrollable-1.0.1.min' %>

<%= stylesheet_link_tag 'playlist' %>

<% my_pos = -1 %>

<script type="text/javascript">
jQuery.noConflict();
jQuery(function() {
    // setup scrolling for the playlist elements 
    jQuery("div.playlist").scrollable({ 
        items:'div.clips', 
        vertical:true,
        next:'a.down',
        prev:'a.up'
    }); 
     
    // setup player  
    $f("player", "/swf/flowplayer-3.0.3.swf", { 
     
            playlist: [
			<% count=0 %>
			<% total_length = @case_speech_video.case_discussion.case_speech_videos.get_all_published.length %>
    		<% @case_speech_video.case_discussion.case_speech_videos.get_all_published.each do |video| %>
                { 
                    url: '<%=video.get_video_link_tag%>', 
                    title: '<%=video.title%>',
    				image: '<%=video.get_playlist_image_url("smaller")%>',
					<% if video.duration.strftime("%H").to_i>0 %>
 					  time: '<%=video.duration.strftime("%H kl %M mín %S sek")%>',
					<% else %>
 					  time: '<%=video.duration.strftime("%M mín %S sek")%>',
					<% end %>
					onFinish: function() {
						if (jQuery('div.playlist').scrollable().getIndex()<<%=total_length-5%>) {
					        jQuery('div.playlist').scrollable().next();							
						}
				    } 
					<% if count==0%>
						,onBegin: function() {
						        jQuery('div.playlist').scrollable().seekTo(0);
					    } 
					<% end %>
                }
				<% my_pos = count if video.id==@case_speech_video.id %>
				<% count += 1 %>
				<% unless count>=total_length%>
				,
				<% end %>
    		<% end %>     
            ]
         
    // use playlist plugin to enable playlist items work as movie clips 
    }).playlist("div.clips", {loop:true});
    
});
jQuery(function() {
jQuery('div.playlist').scrollable().click(<%=my_pos%>);
jQuery('div.clips a:first')<%=Array.new(my_pos,".next()").join%>.click();
//jQuery("div.clips a:eq(3)").click(<%=my_pos%>);
}); 
</script>
<p>
   <a href="/cases/<%=@case_speech_video.case_discussion.case.id%>"><h2 class="participateLink"><%=h t(:case) %>: <%=h @case_speech_video.case_discussion.case.info_1 %>- <%=h @case_speech_video.case_discussion.case.info_2 %>- <%=h @case_speech_video.case_discussion.case.info_3 %></h2></a>
</p>

<table>
	<tr>
		<td>
		<a class="go up"></a>
		<div class="playlist">
			<div class="clips">
			  <a href="${url}"><img src="${image}" align="left" border=0>${title}<br><em>${time}</em></a>
			</div>
		</div>
		<a class="go down"></a>
		</td>
		<td width=640px height=400px>
			<a class="player plain" id="player" style="">
			</a>
		</td>
	</tr>
</table>
