<h1>Editing case</h1>

<% form_for(@case) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :external_link %><br />
    <%= f.text_field :external_link %>
  </p>
  <p>
    <%= f.label :external_name %><br />
    <%= f.text_field :external_name %>
  </p>
  <p>
    <%= f.label :case_type_id %><br />
    <%= f.text_field :case_type_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @case %> |
<%= link_to 'Back', cases_path %>
