<% form_for :user do |form| %>
  <table width="450px">
    <tr>
        <td colspan="2">
            <%= error_messages_for 'user' %>
        </td>
    </tr>
    <tr>
        <td width="50%">
            <label for="first_name">
                <%=t :first_name %>:
            </label>
        </td>
        <td width="50%" align="right">
            <%= form.text_field :first_name %>
        </td>
    </tr>
    <tr>
        <td width="50%">
            <label for="last_name">
                <%=t :last_name %>:
            </label>
        </td>
        <td width="50%" align="right">
            <%= form.text_field :last_name %>
        </td>
    </tr>
    <tr>
        <td width="50%">
            <label for="last_name">
                <%=t :email_address %>:
            </label>
        </td>
        <td width="50%" align="right">
            <%= form.text_field :email %>
        </td>
    </tr>
    <tr>
        <td width="50%">
            <label for="last_name">
                <%=t :confirm_email_address %>:
            </label>
        </td>
        <td width="50%" align="right">
            <%= form.text_field :email_confirmation %>
        </td>
    </tr>
    <tr>
        <td width="50%">
            <label for="last_name">
                <%=t :citizen_id %>:
            </label>
        </td>
        <td width="50%" align="right">
            <%= form.text_field :citizen_id %>
        </td>
    </tr>
    <tr>
        <td width="50%">
            <label for="last_name">
                <%=t :confirm_citizen_id %>:
            </label>
        </td>
        <td width="50%" align="right">
            <%= form.text_field :citizen_id_confirmation %>
        </td>
    </tr>
    <tr>
        <td width="50%">
            <label for="password">
                <%=t :password %>:
            </label>
        </td>
        <td width="50%" align="right">
            <%= form.password_field :password %>
        </td>
    </tr>
    <tr>
        <td width="50%">
            <label for="password_confirmation">
                <%=t :confirm_password %>:
            </label>
        </td>
        <td width="50%" align="right">
            <%= form.password_field :password_confirmation %>
        </td>
    </tr>
    <tr>
        <td width="50%">
        </td>
        <td width="50%" align="right">
            <%= image_submit_tag "button_registerNow_1.png",  :border => 0, :name => "create", :alt => t(:register_now), :size => "105x20" %>
        </td>
    </tr>
  </table>
<% end %>
