<span class="sub-box-txt"><% form_for :login_user do |login_form| %>
    <table width="450px">
        <tr>
            <td width="50%">
                <label for="name">
                    <%=t :email_address %>:
                </label>
            </td>
            <td width="50%" align="right">
                <%= login_form.text_field :login_email %>
            </td>
        </tr>
        <tr>
            <td width="50%">
                <label for="password">
                    <%=t :password %>:
                </label>
            </td>
            <td width="50%" align="right">
                <%= login_form.password_field :login_password %>
            </td>
        </tr>
        <tr>
            <td width="50%">
            </td>
            <td width="50%" align="right">
                <%= image_submit_tag "button_login_1.png", :border => 0, :name => "login", :alt => t(:login), :size => "54x20" %>
            </td>
        </tr>
    </table>
    <% end %>
</span>
