<h1>Listing document_types</h1>

<table>
  <tr>
    <th>Type</th>
  </tr>

<% for document_type in @document_types %>
  <tr>
    <td><%=h document_type.document_type %></td>
    <td><%= link_to 'Show', document_type %></td>
    <td><%= link_to 'Edit', edit_document_type_path(document_type) %></td>
    <td><%= link_to 'Destroy', document_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New document_type', new_document_type_path %>
