<table>
<tr>
<td align="left">
<% @convert = %w[one two three four five] %>
<div id="star-ratings-block-<%= "#{asset.id}_#{asset.class.name}"  %>" class="star-ratings-block">  
<%= number_with_precision(asset.rating, :precision=>1) %>/5.0 (<%= asset.ratings.size %> <%=t :votes %>)
<br/>
<ul class='star-rating'>
    <li class='current-rating' style='width:<%= (asset.rating * 30).to_i -%>px;'>
        <%=t(:currently) %><%= number_with_precision(asset.rating, :precision=>1) %>/5
    </li>
    <% 1.upto(5) do |x| -%>
      <li>
        <%= link_to_remote( "#{x}",
        { :url => { :controller => "ratings", :action => "rate",
        :id => asset.id, :rating => x, :rateable_type => asset.class.to_s } },
        { :class => "#{@convert[x-1]}-stars", :name => "#{pluralize(x,t(:star))} #{t(:out_of_5)}",
        :title => t(:rate_this_a)+"#{x}"+t(:out_of_5) } ) %>
      </li>
    <% end -%>
</ul>
</div>
</td>
</tr>
</table>
