<p>
    <a href="/cases/<%=@document.case_document.case.id%>"><h2 class="participateLink"><%=h t(:case) %>: <%=h @document.case_document.case.info_1 %></h2></a>
	<%=h @document.case_document.case.info_2 %> <%=h @document.case_document.case.info_3 %>
<% if @document.case_document.stage_sequence_number > 0 %>
   - <%=@document.case_document.stage_sequence_number%>. <%=t(:stage_sequence_discussion)%>
<% end %>

</p>
<br>
<a href="http://www.facebook.com/share.php?u=http:\\<%=request.host.downcase != 'localhost' ? request.host.downcase : 'beint.lydraedi.is'%>\documents\<%=@document.id%>" onclick="return fbs_click()" target="_blank" class="fb_share_link"><%=t :share_on_facebook%></a>
<br><br>
<p>
    <b><%=t :voting_close_time %>:</b>
    <%=h @document.voting_close_time.strftime("%m. %b %Y #{t(:at_time)} %H:%M") %>
</p>
<% if @i_am_admin %>
<hr><%= link_to t(:edit), edit_document_path(@document) %> |<%= link_to t(:back), documents_path %>
<% end %>
<table valign="top" width="100%">
    <tr valign="top">
        <td valign="top" width="60%">
            <center>
                <%= render :partial => "votes/vote_status" %>
            </center>
        </td>
        <td valign="top" width="40%">
            <center>
                <%= render :partial => "votes/my_vote", :locals => { :document => @document } %>
            </center>
        </td>
    </tr>
</table>
<hr>
<center>
    <div id="comment_panel_master_for_Document_<%=@document.id%>">
        <%= render :partial => "document_comments/comment_on", :locals => {:document=> @document, :comment_target => @document, :open_panel => @document.has_comments? } %>
    </div>
</center>
<hr>
<p>
    <b><%=t :document_elements %>:</b>
    <% for element in @document_elements %>
    <div id="document_element_number_<%=element.sequence_number%>">
        <%= render :partial => "document_elements/element", :locals => {:document=> @document, :element => element, :open_panel => element.has_comments? } %>
    </div>
    <% end %>
</p>
<br>
<p>
    <b><%=t :external_link %>:</b>
    <a target="_blank" href="<%=@document.external_link%>"><%=h @document.external_link %></a>
</p>
