<a onclick="toggleDiv('comment_panel_for_<%=comment_target.class.name%>_<%=comment_target.id%>');" title="<%=t :toggle_comments%>" id="participateLinkCursor" class="participateLinkLarger"><%=t :toggle_comments %></a>

<br>

<div id="comment_panel_for_<%=comment_target.class.name%>_<%=comment_target.id%>" style="<%=open_panel ? "": "display:none;"%>">
	<% if comment_target.comments_in_support.length>0 or
          comment_target.comments_not_sure.length>0 or 
          comment_target.comments_against.length>0 %>
	    <h2><%= t :comments %></h2>
	    <table width="100%">
	        <th>
	            <%=t :in_support %>
	        </th>
	        <th>
	            <%=t :not_sure %>
	        </th>
	        <th>
	            <%=t :against %>
	        </th>
	        <tr>
	            <td width="33%">
	                <% for comment in comment_target.comments_in_support %>
	                <%= t :author %>: <%= comment.user.full_name %>
	                <br>
	                <%= t :creation_date %>: <%= comment.created_at.strftime("%d. %b %Y %H:%M") %>
	                <br>
	                <br>
	                <%= comment.comment %>
	                <br>
	                <br>
	                <%=t :rate_this_comment %>:<%= render :partial => "ratings/rate", :locals => { :asset => comment } %>
	                <p>
	                <% end %>
	            </td>
	            <td width="34%">
	                <% for comment in comment_target.comments_not_sure %>
	                <%= t :author %>: <%= comment.user.full_name %>
	                <br>
	                <%= t :creation_date %>: <%= comment.created_at.strftime("%d. %b %Y %H:%M") %>
	                <br>
	                <br>
	                <%= comment.comment %>
	                <br>
	                <br>
	                <%=t :rate_this_comment %>:<%= render :partial => "ratings/rate", :locals => { :asset => comment } %>
	                <p>
	                <% end %>
	            </td>
	            <td width="33%">
	                <% for comment in comment_target.comments_against %>
	                <%= t :author %>: <%= comment.user.full_name %>
	                <br>
	                <%= t :creation_date %>: <%= comment.created_at.strftime("%d. %b %Y %H:%M") %>
	                <br>
	                <br>
	                <br>
	                <%= comment.comment %>
	                <br>
	                <br>
	                <%=t :rate_this_comment %>:<%= render :partial => "ratings/rate", :locals => { :asset => comment } %>
	                <p>
	                <% end %>
	            </td>
	        </tr>
	    </table>
	<% else %>
	   <br>
	   <%= t :no_comments_have_been_written_yet %>
	<% end %>
    <p>

  <%if session[:user_id] %>	
    <% @document_comment = DocumentComment.new %>
    <% remote_form_for(@document_comment) do |f| %>
    <h2><%= t :your_opinion %></h2>

    <table>
        <tr>
           <td colspan=3 align="center">
                <b><%=t :bias %></b>
           </td>
        </tr>
        <tr>
           <td colspan=3  align="center">
            <table>
                <tr>
                    <td>
                        <div id='sentiment_slider_value_1_<%=comment_target.class.name%>_<%=comment_target.id%>'>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="sentiment_track1_<%=comment_target.class.name%>_<%=comment_target.id%>" style="background-image:url(/images/bg-fader.gif); background-repeat:no-repeat; width:209px; height:28px;">
                            <div id="sentiment_handle1_<%=comment_target.class.name%>_<%=comment_target.id%>" style="background-image:url(/images/thumb-n.gif); background-repeat:no-repeat; width:17px; height:21px; cursor:move;">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
           </td>
        </tr>
        <tr>
            <td colspan=3>
                <p>
                    <%= f.text_area :comment, :rows => 10 %>
                </p>
				<input type="hidden" name="bias" id="sentiment_slider_form_value_1_<%=comment_target.class.name%>_<%=comment_target.id%>" value="3"/>
                <%= f.hidden_field :document_id, {:value=>document.id} %>
                <% if comment_target.class.name=="DocumentElement" %>
                <%= f.hidden_field :document_element_id, {:value=>comment_target.id} %>
                <% end %>
                <p>
                    <%= f.submit t(:post_comment) %>
                </p>
            </td>
        </tr>
    </table>
    <% end %>
   <% else %>
	 <%=link_to t(:login_to_submit_comment), :controller=>"users", :action=>"login" %>
   <% end %>	

</div>
<script type="text/javascript" language="javascript">
// <![CDATA[
			 new Control.Slider('sentiment_handle1_<%=comment_target.class.name%>_<%=comment_target.id%>' , 'sentiment_track1_<%=comment_target.class.name%>_<%=comment_target.id%>',
		      {
		           range: $R(1,5),
		           values: [1,2,3,4,5],
		           sliderValue: 3,
				   axis:'horizontal',
		           onChange: function(v){
		               $('sentiment_slider_value_1_<%=comment_target.class.name%>_<%=comment_target.id%>').innerHTML = "<small><%=t :sentiment%>: "+getSentimentWord(v)+"</small>";
					   $('sentiment_slider_form_value_1_<%=comment_target.class.name%>_<%=comment_target.id%>').value = v;
		           },
		           onSlide: function(v) {
		               $('sentiment_slider_value_1_<%=comment_target.class.name%>_<%=comment_target.id%>').innerHTML = "<small><%=t :sentiment%>: "+getSentimentWord(v)+"</small>";
		          }
		       } );
			 $('sentiment_slider_value_1_<%=comment_target.class.name%>_<%=comment_target.id%>').innerHTML = "<small><%=t :sentiment%>: <%=t :not_sure%></small>";
		     $('sentiment_slider_form_value_1_<%=comment_target.class.name%>_<%=comment_target.id%>').value = 3;        						 
// ]]>
</script>

