<% if @latest_speech_discussions.length > 0 %>
	<%= javascript_include_tag 'jquery-1.3.1.min' %>
	<%= javascript_include_tag 'jquery.mousewheel' %>
	<%= javascript_include_tag 'jquery.scrollable-1.0.1.min' %>
	
	<%= stylesheet_link_tag 'vertical_video_speeches_scroller' %>

    <h1><%=t :newly_processed_speeches %></h1>

	<!-- navigator -->
	<div class="navi"></div>

	<!-- root element --> 
	<a class="prev"></a>

	<div class="scrollable">
	    <!-- for a change we have different kind of container for items --> 
	    <div id="latest_video_discussion_thumbs"> 
	        <!-- one item. in the example we have many of these -->  
			<% @latest_speech_discussions.each do |case_discussion| %>
		        <div onclick="window.location = 'http://<%=request.host.downcase%>/case_speech_videos/<%=case_discussion.case_speech_videos.get_first_published.id%>'">
		            <img src="<%=case_discussion.case_speech_videos.get_random_published.get_playlist_image_url("small")%>" /> 
		            <h3><%=latest_video_speech_title(case_discussion.case_speech_videos.get_random_published)%></h3> 
		            <p>
		            <span><em><%=case_discussion.meeting_date.strftime("%d.%m.%Y")%> -
		            <span><%=case_discussion.case_speech_videos.count%> 
					<% if case_discussion.case_speech_videos.count==1%>
  					  <%=t :speech%>
					<% else %>
  					  <%=t :speeches%>
					<% end %>  
					</em></span></p>
		        </div>
			<% end %> 
	    </div> 
	</div>
	<a class="next"></a>
		<script type="text/javascript">
		jQuery.noConflict();
		// execute your scripts when DOM is ready. this is a good habit 
		jQuery(function() {         
		    // initialize scrollable  
		    jQuery("div.scrollable").scrollable({ 
		        size: 3,
		        items: '#latest_video_discussion_thumbs',   
		        hoverClass: 'hover' 
		    });
		}); 
	</script>

<% end %>
