<h2><%=t :vote_status %></h2>
<% if @votes_against.length==0 and @votes_in_support.length==0 %>
	<%=t :no_votes_have_been_cast_for_this_law %>
	<br>
<% else %>
	<%=t :vote_count_in_support %>: <%= @votes_in_support_total %>
	<br>
<%=t :vote_count_against %>: <%= @votes_against_total %>
<br>
<br>
<% found_proxy_vote = false %>
<table width="100%">
    <th>
        <%=t :people_in_support %>
    </th>
    <th>
        <%=t :people_against %>
    </th>
    <tr>
        <td width="50%" align="left">
          <center>
            <% secret_votes_in_support = 0 %>
            <% for vote in @votes_in_support %>
		        <% unless vote.secret %>
  	              <%= vote.user.full_name %>
      	          <br>
  	            <% else %>
  	              <% secret_votes_in_support += 1 %>
  	            <% end %>
	            <% vote_proxy_votes = VoteProxy.find(:all, :conditions=> ["category_id = ? and to_user_id = ?", vote.document.category_id, vote.user.id]) %>
	            <% for proxy_vote in vote_proxy_votes %>
		            <% unless vote.document.vote_id_by_user(proxy_vote.from_user_id) %>
						 <% found_proxy_vote = true %>
				         <small><%= proxy_vote.full_name_of_from_user %> (*)</small>
			            <br>
		            <% end %>
	            <% end %>
            <% end %>
            <% unless secret_votes_in_support == 0 %>
              <%=t :secret_votes_in_support_count %>: <%=secret_votes_in_support%>
            <% end %>
          </center>
		</td>
        <td width="50%" align="left">
		  <center>          
            <% secret_votes_against = 0 %>
		    <% for vote in @votes_against %>
		        <% unless vote.secret %>
  	              <%= vote.user.full_name %>
  	              <br>
  	            <% else %>
  	              <% secret_votes_against += 1 %>
  	            <% end %>
	            <% vote_proxy_votes = VoteProxy.find(:all, :conditions=> ["category_id = ? and to_user_id = ?", vote.document.category_id, vote.user.id]) %>
	            <% for proxy_vote in vote_proxy_votes %>
		            <% unless vote.document.vote_id_by_user(proxy_vote.from_user_id) %>
						<% found_proxy_vote = true %>
			            <small><%= proxy_vote.full_name_of_from_user %> (*)</small>
			            <br>
		            <% end %>
	            <% end %>
            <% end %>
            <% unless secret_votes_against == 0 %>
              <%=t :secret_votes_against_count %>: <%=secret_votes_against%>
            <% end %>
		    </center>
        </td>
    </tr>
</table>
<% if found_proxy_vote %>
  <center>
	<br>
	<small>(*) <%=t :proxy_vote %></small><br>
  </center>
<% end %>
<% end %>