<h1>New vote</h1>

<% form_for(@vote) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :document_id %><br />
    <%= f.text_field :document_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :agreed %><br />
    <%= f.check_box :agreed %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', votes_path %>
